@{
    ViewData["Title"] = "Associations";
}
<div class="container marketing">
    <div class="row">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 strong">
                Associations
            </h1>
            <div class="col-lg-10 mx-auto">
            </div>
        </div>

    </div>

</div>
@*
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <input type="checkbox"
                       id="card1"
                       class="more"
                       aria-hidden="true" />
                <div class="content">
                    <div class="front cardbg01">
                     
                        <div class="inner">
                            <h2>Company Background</h2>
                            <label for="card1" class="button" aria-hidden="true">
                                Company Background
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <div class="description">
                                <h3>Company Background</h3>
                                <p>
                                    EnerStream Agency Services Inc. has the market and industry expertise, along with the financial and operational strength, to ensure that our clients receive the most competitive pricing with the lowest risk.
                                    The EnerStream team has established a reputation as a proactive, results-driven energy agent, providing consistent, positive results for our clients.
                                    EnerStream Agency Services Inc. is a wholly-owned subsidiary of Rockpoint Energy Storage. Rockpoint is part of the Brookfield Infrastructure Partners (NYSE: BIP) family and is the largest independent owner and operator of natural gas storage assets in North America with facilities in Alberta, California, Oklahoma and Texas.

                                </p>
                            </div>
                            <label for="card1"
                                   class="button return"
                                   aria-hidden="true">
                                BACK
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <input type="checkbox"
                       id="card2"
                       class="more"
                       aria-hidden="true" />
                <div class="content">
                    <div class="front cardbg02">
                        <div class="inner">
                            <h2>To Learn More About Rockpoint Gas Storage</h2>
                            <label for="card2" class="button" aria-hidden="true">
                                <a href="https://www.rockpointgs.com/" target="_blank">CLICK HERE</a>
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <div class="description">
                                <h3>Feel free to contact us</h3>
                                <p>
                                </p>
                            </div>
                            <label for="card2"
                                   class="button return"
                                   aria-hidden="true">
                                CONTACT US
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
