@{
    ViewData["Title"] = "Our People ";
}
<div class="container marketing">
    <div class="row">
        <div class="px-4 py-5  text-center">
            <h1 class="display-5 strong">
                Our People
            </h1>
            <div class="col-lg-10 mx-auto">
            </div>
        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <input type="checkbox"
                       id="card1"
                       class="more"
                       aria-hidden="true" />
                <div class="content">
                    <div class="front cardbg01">
                        <div class="inner">
                            <h2>Our People</h2>
                            <label for="card1" class="button" aria-hidden="true">
                                LEARN MORE
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <div class="description">
                                <h3>Our People</h3>
                                <p>
At EnerStream, our people are our assets.  Our value proposition is our collective industry expertise, and our competitive advantage is a team of innovative, creative and highly skilled professionals with a diverse range of experience. 
We have a proven track record of providing consistent, positive results for our customers. Our business is based on personal relationships with our customers and our partners. The strength of those relationships comes from the way we do business – with integrity, with trust, with transparency and with innovation.


                                </p>
                            </div>
                            <label for="card1"
                                   class="button return"
                                   aria-hidden="true">
                                BACK
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <input type="checkbox"
                       id="card2"
                       class="more"
                       aria-hidden="true" />
                <div class="content">
                    <div class="front cardbg03">
                        <div class="inner">
                            <h2>Please feel free to contact us</h2>
                            <label for="card2" class="button" aria-hidden="true">
                                Please feel free to contact us
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <div class="description">
                                <h3>Please feel free to contact us:</h3>
                                <p>
                                    Nathalie Bureau, 
                                    Administrative Assistant is available to direct your call
                                    Toll Free: 1-877-813-9333, Option 8
                                    Email:  <email>nathatlie.messer@enerstream.com</email>
                                </p>
                            </div>
                            <label for="card2"
                                   class="button return"
                                   aria-hidden="true">
                                BACK
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
