@{
    ViewData["Title"] = "Portfolio Management";
}
<div class="container marketing">
    <div class="row">
        <div class="px-4 py-5  text-center">
            <h1 class="display-5 strong">
                Products & Services
            </h1>
            <div class="col-lg-10 mx-auto">
            </div>
        </div>

    </div>

</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <input type="checkbox"
                       id="card1"```````````````````````````````````````````````````````````````````````````
                       class="more"
                       aria-hidden="true" />
                <div class="content">
                    <div class="front cardbg01">
                        <div class="inner">
                            <h2>Portfolio Management Services</h2>
                            <label for="card1" class="button" aria-hidden="true">
                                LEARN MORE
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <div class="description">
                                <h3>Portfolio Management Services</h3>
                                <p>
                                    EnerStream Agency Services offers complete account management and marketing services, as well as customized, innovative products tailored to meet your company’s needs. Our highly skilled and experienced staff is dedicated to providing expert and professional energy management services to end use consumers across Canada.
                                    With over 20 years of combined operations management experience, EnerStream has become an industry leader in portfolio transportation management and optimization. Our understanding of pipelines and utilities throughout Canada allows us to efficiently manage your natural gas portfolio while you focus on your core business.
                                    Our risk management capabilities and outstanding market analysis provide you with tremendous flexibility to help manage your gas consumption costs and maximize your bottom line. As a major aggregator of Canadian consumers, EnerStream's market knowledge and economies of scale translate directly into value for our customers.



                                </p>
                            </div>
                            <label for="card1"
                                   class="button return"
                                   aria-hidden="true">
                                BACK
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
